.DS_Store
Thumbs.db
Saved/
Intermediate/
*.log
*.vs
*.vscode
*.obj
*.pdb
*.lib
*.exe
*.dll
*.app
*.appbundle
*.dmg
*.xcodeproj
*.suo
*.user
*.userprefs
*.ipch
*.vsconfig
*.sln
*.vcxproj
*.v16
*.proj
Binaries/
.vs/
.idea/
.vscode/